@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;500;700&display=swap');

html,
body,
div,
ul,
li,
p {
  margin: 0;
  padding: 0;
}

html,
body {
  background-color: #172b4d;
}

.page-wrapper {
  width: 375px;
  margin: 25px auto;
  display: flex;
  flex-direction: column;
  background-color: #f7f7f9;
}

.signal-section {
  padding: 0 15px 0 40px;
}

.header-section,
.signal-section {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  height: 48px;
}

.logo-placeholder {
  display: flex;
  align-items: center;
  height: 40px;
  font-style: normal;
  color: #6070ff;
  margin-left: 12px;
  padding: 0 12px;
  box-sizing: border-box;
}

a.logo {
  text-decoration: none;
  display: block;
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 18px;
  line-height: 20px;
}

.main-nav {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  height: 40px;
  width: 40px;
  margin-right: 24px;
  background-image: url('images/icon-menu.png');
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

.introduction {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  background-image: url('images/intro-bg.png');
  background-repeat: no-repeat;
  padding: 114px 24px 0 24px;
  margin-bottom: 70px;
  padding-bottom: 50px;
}

h1 {
  color: #172b4d;
}

.welcome-note h1 {
  font-family: 'Poppins', sans-serif;
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 12px;
}

.profile {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #344563;
  margin-bottom: 12px;
}

a.connect {
  display: inline-block;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #7f8cff;
  margin-bottom: 12px;
  text-decoration: none;
}

a.connect:hover {
  color: #6070ff;
}

a.connect:active {
  color: #2230d2;
}

.social {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: baseline;
}

.social > li {
  list-style: none;
}

.social-links {
  display: inline-block;
  margin-right: 20px;
}

.works {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: repeat(4, 25%);
  padding: 0 24px;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  border-radius: 16px;
  padding: 16px;
  border: 1px solid #dfe1e6;
  box-sizing: border-box;
  width: 327px;
  margin-bottom: 88px;
}

.card h1 {
  font-weight: 700;
  font-style: normal;
  font-size: 32px;
  line-height: 44px;
  margin: 12px 0;
}

.card-1 {
  grid-row: 2/1;
}

.card-2 {
  grid-row: 3/2;
}

.card-3 {
  grid-row: 4/3;
}

.card-4 {
  grid-row: 5/4;
}

.options {
  display: flex;
  flex-direction: row;
}

.options li {
  list-style: none;
}

span.spacer {
  display: inline-block;
  padding-left: 20px;
  background-image: url('images/counter.png');
  background-repeat: no-repeat;
  background-position: 5px 8px;
}

.title {
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: #344563;
}

.role-year {
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: #7a869a;
}

.card p {
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  margin: 12px 0;
}

.language li {
  list-style: none;
  border: 1px solid #ebebff;
  display: inline-block;
  margin-right: 15px;
  padding: 2px 8px;
  border-radius: 8px;
  background-color: #ebebff;
  color: #6070ff;
}

.font {
  font-family: 'Poppins', sans-serif;
}

a {
  text-decoration: none;
}

button {
  margin: 24px 0;
  padding: 10px;
  font-family: 'Poppins_small', sans-serif;
  font-weight: 500;
  font-size: 17px;
  background-color: white;
  color: #396df2;
  border: 1px solid #6070ff;
  border-radius: 5px;
}

button:hover {
  background-color: #6070ff;
  color: white;
}

button:active {
  background-color: #2230d2;
  color: white;
}

.about-me {
  background-image: url('images/aboutme_bg.png');
  background-repeat: no-repeat;
  padding: 70px 24px;
}

.about-me h1,
.contact-page h1 {
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  margin-bottom: 12px;
}

.about-me p {
  margin-bottom: 12px;
}

.contact-page {
  background-color: #6070ff;
  border-top-left-radius: 70px;

}


.background-one{
  background-image: url('images/contact-form-shapes.png');
  background-size: 222px 709.17px;
  background-position-x:153px;
  background-position-y:21px;
  background-repeat: no-repeat;

}


.contact-page-info,
form{
  margin:0 24px;
}


.contact-form {
  margin-top: 44px;
}

.message {
  width: 100%;
  height: 160px;
  border: 1px solid #6070ff;
}



.contact-page p {
  color: #fff;
}

.main-skill {
  height: 60px;
  list-style: none;
  width: 290px;
  box-sizing: border-box;
  margin-bottom: 8px;
}

.key-area {
  line-height: 50px;
}

.more {
  background-image: url('images/down.png');
}

.next {
  border-bottom: 1px solid #dfe1e6;
  background-image: url('images/next.png');
}

.more,
.next {
  background-repeat: no-repeat;
  background-position: 250px 30px;
}

li.js-icon {
  background-image: url('images/js2.png');
}

li.html-icon {
  background-image: url('images/html2.png');
}

li.css-icon {
  background-image: url('images/css2.png');
}

li.css-icon,
li.html-icon,
li.js-icon {
  background-color: #f7f7f9;
  background-repeat: no-repeat;
  background-position: 10px 4px;
  line-height: 60px;
  padding-left: 70px;
  border-radius: 8px;
}

.scroll-bar {
  display: block;
  width: 100px;
  margin: 0 auto;
  margin-bottom: 5px;
}

.contact-page{
  display:flex;
  flex-flow:column wrap;
  justify-content: center;
}

.contact-page-title {
  color:#fff;
  font-family: 'Poppins', sans-serif; 
  font-style: normal; 
  font-weight: 700; 
  font-size: 40px; 
  line-height: 52px; 
  text-align: center;
  margin-top: 103px;
}

.contact-page-info {
  font-family: 'Poppins', sans-serif; 
  font-style: normal; 
  font-weight: 400; 
  font-size: 20px; 
  line-height: 28px; 
  text-align: center;
  margin-bottom: 60px;
  color: #ebebff;
}



input[type='text'], 
input[type='email']{
  font-family: 'Poppins', sans-serif; 
  font-style: normal; 
  font-weight: 400; 
  font-size: 17px; 
  line-height: 20px; 
  color: #172b4d; 
  height: 40px;
  margin-bottom:20px;
  width:100%;
  border-radius:8px;
  border:1px solid #cfd8dc;
  padding: 15px 16px;
  box-sizing: border-box;
}

form ul {
  list-style: none;
}

#message {
  background: #fff;
  border: 1px splid #cfd8dc;
  border-radius: 8px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #b3bac5;
  width: 100%;
  height: 170px;
  padding:15px 16px;
  box-sizing: border-box;
}

#contact-page-scroll {
  width: 134px;
  height: 5px;
  background-color: #0d151e;
  border-radius: 10px;
  margin: 8px auto;
}

