@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;500;700&display=swap");

html,
body,
div,
ul,
li,
p {
  margin: 0;
  padding: 0;
  color: #344563;
}

.page-wrapper {
  background-color: #e5e5e5;
  /* min-width: 375px; */
}

.page-wrapper,
.background-one {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}

.signal-section {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  padding: 17.33px 14.67px 0 40px;
}

time {
  display: block;
}

.navbar {
  display: flex;
  justify-content: space-between;
  min-height: 40px;
  align-items: center;
  padding:0 30px;
}

.hide{
  display:none;
}

/* hide navigation menu  for small screens */
.nav-holder {
  position:fixed;
  top: 0;
  left:0;
  width:100%;
  height:100vh;
  background-color:rgba(96,112,255, .9);
  padding-left:30px;
}

.close{
  display:inline-block;
  font-family:'Courier New', Courier, monospace;
  font-size: 20px;
  color:#fff;
  margin-bottom:80px;
  position:relative;
  margin-left:80%;
  margin-top:20px;
  font-stretch: ultra-expanded;
  cursor:pointer;
}

.nav-item a{
  color:#fff;
}

.nav-menu li{
  list-style: none;
  text-decoration: none;
  margin:15px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 44px;
}

.hamburger {
  display:flex;
  flex-direction: column;  
}

.bar {
  border: 1px solid #acb7c3;
  width: 25px;
  margin:2px;
  }

.nav-brand{
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
}

.social,
.options,
.contact-page {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

/* for all a tags */
a {
  text-decoration: none;
}

.introduction {
  padding: 124px 24px 136px 24px;
  background-image: url("images/header_bg.svg");
  background-repeat: no-repeat;
  background-size: 100%;
  background-color: #fff;
  border-bottom-left-radius: 70px;
}

.font {
  font-family: "Poppins", sans-serif;
  font-style: normal;
}

.welcome-note h1 {
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  color: #172b4d;
}

.connect {
  display: inline-block;
  margin: 12px 0;
}

a.connect:hover {
  color: #6070ff;
}

a.connect:active {
  color: #2230d2;
}

.social-links {
  display: inline-block;
  padding-right: 20px;
}

/* css grid layouts for cards */
.works {
  padding: 114px 24px;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: repeat(4, 25%);
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 16px;
  padding: 16px;
  background-color: #fff;
  margin: 0 0 88px 0;
}

.card:nth-child(4n) {
  margin-bottom: 0;
}

.card-partition {
  width: 100%;
}

.card-partition img {
  width: 100%;
  height: auto;
}

.card-partition p {
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #344563;
  margin-bottom: 12px;
}

.options {
  align-items: baseline;
  margin: 0 0 20px 0;
}

.title,
.role-year {
  display: inline-block;
}

.title {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: #344563;
}

.role-year {
  padding: 0 0 0 25px;
  background-image: url("images/counter.svg");
  background-repeat: no-repeat;
  background-position: 8px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  color: rgb(48, 53, 60);
}

.language {
  margin-bottom: 12px;
}

.language a {
  display: inline-block;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 16px;
  color: rgb(4 23 185);
  background: #ebebff;
  border-radius: 8px;
  padding: 4px 12px;
}

button {
  margin: 24px 0;
  padding: 10px;
  font-weight: 500;
  font-size: 17px;
  background-color: white;
  color: #396df2;
  border: 1px solid #6070ff;
  border-radius: 5px;
  transition: all 0.5s ease-out;
}

button:hover {
  background-color: #6070ff;
  color: white;
  cursor: pointer;
}

button:active {
  background-color: #2230d2;
  color: white;
}

/* about me section */
.about-me {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  border-top-right-radius: 70px;
  padding: 114px 150px 113.85px 150px;
}

.about-me h2 {
  font-weight: 700;
  font-size: 50px;
  line-height: 52px;
  display: flex;
  align-items: center;
  color: #172b4d;
  margin-bottom: 12px;
}

.about-me p {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #344563;
}

.pro-skills,
.nested {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}

.nested a {
  display: inline-block;
  height: 60px;
  line-height: 60px;
  margin-bottom: 12px;
}

.pro-skills > a {
  height: 60px;
  line-height: 60px;
}

.js-icon {
  background-image: url("images/js.svg");
}

.css-icon {
  background-image: url("images/css3.svg");
}

.html-icon {
  background-image: url("images/html5.svg");
}

.js-icon,
.css-icon,
.html-icon {
  background-repeat: no-repeat;
  background-size: 50px;
  background-position: 8px 8px;
  padding-left: 70px;
  background-color: #f7f7f9;
  border-radius: 8px;
}

.more {
  background-image: url("images/down.png");
}

.next {
  background-image: url("images/next.png");
  border-bottom: 1px solid #dfe1e6;
  padding-left: 20px;
}

.more,
.next {
  background-repeat: no-repeat;
  background-position: 90% 50%;
}

/* conatct form page */
.contact-page {
  background-color: #fff;
}

.background-one {
  background-color: #6070ff;
  border-top-left-radius: 70px;
  background-image: url("images/contact-form-bg.svg");
  background-repeat: no-repeat;
  background-position: 100% 80%;
  background-size: contain;
  padding: 0 15%;
  align-items: center;
}

.background-one h2 {
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #fff;
  justify-content: center;
}

.background-one p {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 28px;
  color: #ebebff;
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
  margin: 87px 0 0 0;
}

input[type="text"],
input[type="email"] {
  height: 50px;
  border-radius: 8px;
  border: 1px solid #cfd8dc;
  background: #fff;
  margin-bottom: 20px;
}

input[type="text"],
input[type="email"],
textarea {
  box-sizing: border-box;
  padding: 12px 10px;
}

textarea {
  height: 170px;
}

button[type="submit"] {
  width: 150px;
  margin: 22px 0;
}

#contact-page-scroll {
  outline: 1px solid black;
  width: 60px;
  margin: 12px auto;
  border-radius: 50%;
}

/* model window styles */
.modal {
  position:fixed;
  top:30vh;
  left:50%;
  transform:translate(-50%, -50%);
  border:1px solid black;
  z-index:5;
  max-width: 90%;
  min-width: 90%;
  border-radius:5px;
  background-color: #fff;
}


button.close-modal{
  margin:0;
  padding:0;
}
.modal header{
  outline:1px solid red;
}

/* Styles for viewports wider than 768 pixels. */
@media (min-width: 768px) {
  /* hide signal section */
  .signal-section {
    display: none;
  }

  .navbar{
    display:flex;
    flex-direction:row;
    outline:1px solid red;
    height:80px;
    align-items: center;
    padding:0 100px;
    background: #fff;
  }

  .close, .hamburger{
    display:none;
  }

  .nav-holder {
    display:block;
    position:relative;
    width:fit-content;
    height: auto;
    background-color:#fff;
    padding-left:0;
    /* outline:1px solid blue; */
  }

  .nav-item a{
    color: #344563;
    ;
  }
  
  .nav-menu{
    display:flex;
  }

  .nav-menu li{
    list-style: none;
    text-decoration: none;
    /* margin:15px; */
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
  }

 

w      
  .introduction {
    padding: 150px 164px 250px 164px;
  }

  .card {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    transition: all 1s ease-in-out 0.2s;
  }

  .card:hover {
    transform: scale(1.03);
    box-shadow: 0 0 5px 1px #666a70;
  }

  .txt-content {
    box-sizing: border-box;
    padding: 0 24px;
  }

  .re-order {
    order: 1;
  }

  .card-1 {
    grid-row: 4/3;
  }

  .card-2 {
    grid-row: 5/4;
  }

  .card-3 {
    grid-row: 2/1;
  }

  .card-4 {
    grid-row: 3/2;
  }

  .card:nth-child(4) {
    margin-bottom: 88px !important;
  }

  .card:nth-child(2n) {
    margin-bottom: 0;
  }

  .about-me {
    flex-direction: row;
    border-top-right-radius: 70px;
  }

  .about-me-text {
    padding-right: 30px;
  }

  .background-one {
    background-image: none;
  }

  .nested {
    flex-direction: row;
  }

  .nested a {
    height: 90px;
    width: 10px;
    line-height: 130px;
    padding: 20px 90px 0 10px;
    margin: 10px;
  }

  .contact-page {
    background-image: url("images/desktop_bg_contact.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: top left;
  }

  button[type="submit"] {
    margin: 22px auto 44px auto;
  }

  #contact-page-scroll {
    display: none;
  }

  .contact-page-info {
    text-align: center;
  }

  input,
  textarea {
    width: 500px;
  }

  .works {
    padding: 114px 10%;
  }

  .img-content {
    width: 100%;
    height: 100%;
  }

  .card-partition img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .card-partition h1 {
    font-weight: 700;
    font-size: 40px;
    line-height: 52px;
  }

  /* animate logo */

  @keyframes logo-anim {
    from {
      transform: rotate(0deg);
    }

    33% {
      color: #c42c91;
    }

    50% {
      color: #6070ff;
    }

    66% {
      color: #c42c91;
    }

    to {
      transform: rotate(360deg);
    }
  }

  .logo-ph {
    animation-name: logo-anim;
    animation-duration: 2s;
  }
}
