html,
body,
div {
  margin: 0;
  padding: 0;
}

.header-section {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  min-width: 375px;
}

/* logo place holder */
.logo-placeholder {
  display: flex;
  align-items: center;
  height: 40px;
  font-style: normal;
  font-family: 'Poppins', sans-serif;
  color: #6070ff;
  margin-left: 12px;
  padding: 0 12px;
  box-sizing: border-box;
}

.main-nav {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  outline: 1px solid blue;
  height: 40px;
  width: 40px;
  margin-right: 24px;
  background-image: url('images/icon-menu.png');
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

.introduction {
  outline: 1px solid red;
  min-height: 400px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: flex-start;
  background-image: url('images/intro-bg.png');
  background-repeat: no-repeat;
  background-size: cover;
}
